include ../mixins/mixins.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM', crossorigin='anonymous')
        link(rel="stylesheet", href="/css/main.css")
    body
        script.
            var userLoggedIn = !{userLoggedInJS}
        .wrapper
            .row 
                nav.d-md-block.col-2
                    a.pink(href="/") 
                        i.topIcon.fas.fa-shrimp 
                    a.child(href="/")
                        i.fas.fa-house 
                        .iconText Home
                    a.child(href="/search")
                        i.fas.fa-magnifying-glass 
                        .iconText Search
                    a.child(href="/notifications")
                        i.fas.fa-bell 
                        .iconText Notifications
                    a.child(href="/messages")
                        i.fas.fa-envelope 
                        .iconText Messages
                    a.child(href="/profile")
                        i.fas.fa-user 
                        .iconText Profile
                    a.child(href="/logout")
                        i.fas.fa-right-from-bracket
                        .iconText Logout

                nav.d-sm-none.col-2
                    a.child.pink(href="/") 
                        i.fas.fa-shrimp 
                    a.child(href="/")
                        i.fas.fa-house 
                    a.child(href="/search")
                        i.fas.fa-magnifying-glass 
                    a.child(href="/notifications")
                        i.fas.fa-bell 
                    a.child(href="/messages")
                        i.fas.fa-envelope 
                    a.child(href="/profile")
                        i.fas.fa-user 
                    a.child(href="/logout")
                        i.fas.fa-right-from-bracket
                .mainSectionContainer.col-10.col-md-8.col-lg-7
                    .titleContainer
                        h1 #{pageTitle}
                    block content 
                .d-none.d-md-block.col-2.col-lg-3
                    span hiii

        script(src='https://kit.fontawesome.com/c0895109c0.js', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.7.0.min.js', integrity='sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js', integrity='sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js', integrity='sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS', crossorigin='anonymous')
        block scripts

        script(src='/js/common.js')