:root {
    --transparent: #632435bc;
    --hover: #eae8e8;
    --darkerPink: #632435;
    --darkPink: #bb6075;
    --mediumPink: #d27e92;
    --lightPink: #e7aabc;
    --lighterPink: #eed4da;
    --border: #714058;
    --text: #171717;
    --spacing: 15px
}
.row {
    margin-right: 0px;
}
button {
    border: none;
    background-color: transparent
}

a {
    color: var(--text);
    text-decoration: none
}

a.child:hover {
    color: var(--darkerPink);
    background-color: var(--mediumPink);
    border-radius: 30px;
}

.topIcon:hover {
    background-color: var(--mediumPink);
    border-radius: 30px;
}

h1 {
    color: var(--text);
    font-size: 25px;
    font-weight: 800;
    margin: 0;
}

nav {
    background-color: var(--lightPink);
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: right;
    position: fixed;
    overflow-x: hidden;
    left: 0;
    z-index: 1;
    height: 100%;
    text-align: center;
}
nav a{
    display: flex;
    flex-wrap: wrap;
}
nav i {
    display:block;
    margin-right:auto;
    font-size: 25px;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.iconText {
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    align-items: flex-start;
    padding: 10px;
}

nav a.pink {
    color: var(--darkerPink)
}

.mainSectionContainer {
    background-color: var(--mediumPink);
    padding: 0px;
    margin-left: calc(100% * (1/6) + 8px);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);
    flex-shrink: 0;
}

.titleContainer h1 {
    flex: 1
}

.postFormContainer {
    background-color: var(--lightPink);
    display: flex;
    padding: var(--spacing);
    border-bottom: 8px solid var(--darkerPink);
    flex-shrink: 0;
}

.modal-content {
    background-color: var(--lightPink);
}
.modal-content .modal-title {
    font-weight: 800;
    font-size: 25px
}
.modal-content .modal-header {
    border-bottom: 1px solid var(--border);
    background-color: var(--mediumPink)
}
.modal-content .modal-body {
    padding-top: 5px;
}
#originalPostContainer {
    background-color: var(--mediumPink);
    border: 1px solid var(--border);
    border-bottom: 0px;
}

.modal-content .modal-footer {
    border-top: 1px solid var(--border);
    background-color: var(--mediumPink)
}
.modal .postFormContainer {
    border: none;
    padding: 0;
    padding-top: var(--spacing);
}
.modal button {
    font-weight: bold;
    background-color: var(--lightPink);
    border: none;
    border-radius: 30px
}
.modal button:hover {
    background-color: var(--border);
}
.modal .btn-primary {
    background-color: var(--darkerPink);
}
.modal .btn-primary:disabled, .btn-primary:hover{
    background-color: var(--transparent);
    color: var(--hover);
}

.userImageContainer {
    width: 50px;
    height: 50px;
}
.userImageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0);
}

.textAreaContainer {
    flex: 1;
    padding-left: var(--spacing)
}
.textAreaContainer textArea {
    background-color: var(--lightPink);
    width: 100%;
    border: none;
    resize: none;
    font-size: 18px;
    outline: var(--border)
}

#submitPostButton {
    background-color: var(--darkerPink);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 7px 15px;
    font-weight: bold;
}
#submitPostButton:disabled {
    background-color: var(--transparent);
    color: var(--hover);
}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--border);
    flex-shrink: 0;
}

.largeFont {
    background-color: var(--darkPink);
}
.largeFont .postHeader {
    font-size: 18px
}
.largeFont .postBody, .largeFont .postFooter {
    font-size: 23px;
}
.largeFont .postFooter .postButtonContainer button{
    height: 40px;
    width: 40px
}

.postActionContainer {
    color: var(--darkerPink);
    padding-left: 0px;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: -8px;
    font-weight: bolder;
}

.mainContentContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.userAndPostContainer {
    display: flex;
}

.postContentContainer {
    display: flex;
    flex-direction: column;
    padding-left: var(--spacing);
    flex: 1
}

.postHeader { 
    display: flex;
    align-items: center;
    gap: .25em
}
.toUnderline:hover {
    text-decoration: underline;
}
.displayName { 
    font-weight: bold;
}
.username { 
    color: var(--darkerPink);
}
.date {
    color: var(--border);
    flex: 1;
}
.postHeader button {
    color: var(--darkerPink);
    height: 30px;
    width: 30px
}
.postHeader button:hover {
    background-color: var(--lightPink);
    border-radius: 50px
}

.postFooter {
    display: flex;
}

.postFooter .postButtonContainer {
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin-top: 5px;
}
.postFooter .postButtonContainer button {
    color: var(--darkerPink);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
}
.postFooter .postButtonContainer button {
    color: var(--lightPink);
}

.postFooter .postButtonContainer i, .postFooter .postButtonContainer span {
    pointer-events: none;
}

.postFooter .postButtonContainer button:hover {
    background-color: var(--lighterPink);
    color: var(--mediumPink);
    border-radius: 50px;
}

.postButtonContainer button.active {
    color: var(--darkerPink);
}


.replyFlag {
    color: var(--darkerPink);
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 14px;
}
.replyFlag a {
    color: var(--darkerPink);
    font-weight: normal;
}

.emptyPost {
    padding: var(--spacing);
    font-weight: bold;
    background: var(--mediumPink);
    display: flex
}
.photoSection {
    height: 180px;
    background-color: var(--darkPink);
    position: relative
}
.profileHeaderContainer {
    background: var(--lightPink);
}
.coverPhotoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}
.profileHeaderContainer .userImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 132px;
    width: 132px;
    margin-left: var(--spacing);
    position: absolute;
    bottom: -66px
}
.photoSection .userImageContainer img {
    border: 4px solid var(--lightPink);
    background-color: var(--lightPink);
}
.coverPhotoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profilePictureButton, .coverPhotoButton {
    position: absolute;
    font-size: 50px;
    color: var(--transparent);
    display: none
}
.userImageContainer:hover .profilePictureButton, .coverPhotoContainer:hover .coverPhotoButton {
    display: block
}
.profileHeaderContainer .profileButtonsContainer {
    text-align: right;
    padding: var(--spacing);
    min-height: 66px
}
.profileButton, .followButton {
    border: 1px solid var(--darkerPink);
    background-color: var(--lightPink);
    color: var(--darkerPink);
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 50px;
    display: inline-block;
    margin-left: var(--spacing);
}
.profileButton:hover, .followButton:hover {
    color: var(--darkPink);
    background-color: var(--lighterPink);
}
.followButton.following {
    color: white;
    background-color: var(--darkerPink);
}
.followButton.following:hover {
    background-color: var(--lightPink);
}
.profileHeaderContainer .userDetailsContainer {
    display:flex;
    flex-direction: column;
    padding: 0 var(--spacing)
}
.followersContainer .value {
    font-weight: bold;
    margin-right: .25em;
}
.followersContainer span:not(.value) {
    color: var(--border)
}
.followersContainer a {
    margin-right: .5em;
}
.followersContainer a:hover {
    border-bottom: 1px solid var(--border);
}
.tabsContainer {
    background-color: var(--lightPink);
    display: flex;
    border-bottom: 1px solid var(--border);
    flex-shrink: 0;
}

.tab {
    margin-top: var(--spacing);
    flex: 1;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--border);
    font-weight: bold;
}
.tab.active {
    color: var(--darkerPink);
    border-bottom: 2px solid var(--darkerPink)
}
.tab:hover {
    color: var(--darkPink);
    background-color: var(--lighterPink);
}

.resultsContainer {
    display: flex;
    flex-direction: column;
}
.resultsContainer .user {
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid var(--border);
}
.user .userDetailsContainer {
    display: flex;
    padding: 0 var(--spacing);
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.userDetailsContainer .header {
    display: flex;
    flex-direction: column;
}

/* cropper.js image cropping */
#imagePreview, #coverPreview {
    display: block;
    max-width: 100%
}