:root {
    --darkPink: #632435;
    --mediumPink: #d27e92;
    --lightPink: #e7aabc;
    --lighterPink: #eed4da;
    --border: #714058;
    --text: #171717;
    --spacing: 15px
}

a {
    color: var(--text);
    text-decoration: none
}

a.child:hover {
    color: var(--darkPink);
    background-color: var(--mediumPink);
    border-radius: 30%;
}

.topIcon:hover {
    background-color: var(--mediumPink);
    border-radius: 30%;
}

h1 {
    color: var(--text);
    font-size: 25px;
    font-weight: 800;
    margin: 0;
}

nav {
    background-color: var(--lightPink);
    display: flex;
    flex-direction: column;
    align-items: right;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 1;
    height: 100%;
    text-align: center;
}

nav a{
    display: flex;
    flex-wrap: wrap;
}

nav i {
    display:block;
    margin-right:auto;
    font-size: 25px;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.iconText {
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    align-items: flex-start;
    padding: 10px;
}

nav a.pink {
    color: var(--darkPink)
}

.mainSectionContainer {
    background-color: var(--mediumPink);
    padding: 0px;
    margin-left: calc(100% * (1/6) + 8px);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    
    display: flex;
    flex-direction: column;
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);
    flex-shrink: 0;
}

.titleContainer h1 {
    flex: 1
}

.postFormContainer {
    background-color: var(--lightPink);
    display: flex;
    padding: var(--spacing);
    border-bottom: 8px solid var(--border);
    flex-shrink: 0;
}

.userImageContainer {
    width: 50px;
    height: 50px;
}

.userImageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0);
}

.textAreaContainer {
    flex: 1;
    padding-left: var(--spacing)
}

.textAreaContainer textArea {
    background-color: var(--lightPink);
    width: 100%;
    border: none;
    border-radius: 5%;
    resize: none;
    font-size: 18px;
    outline: var(--darkPink)
}

#submitPostButton {
    background-color: var(--darkPink);
    color: white;
    border: none;
    border-radius: 30%;
    padding: 7px 15px;
    font-weight: bold;
}

#submitPostButton:disabled {
    background-color: var(--mediumPink);
    color: #eae8e8;
    border: none;
    border-radius: 30%;
    padding: 7px 15px;
    font-weight: bold;
}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--border);
    flex-shrink: 0;
}

.mainContentContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.userAndPostContainer {
    display: flex;
}

.postContentContainer {
    display: flex;
    flex-direction: column;
    padding-left: var(--spacing);
    flex: 1
}

.displayName { font-weight: bold }
.username { color: var(--border) }

.postFooter {
    display: flex;
}

.postFooter .postButtonContainer {
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin-top: 5px;
}

.postFooter .postButtonContainer button {
    color: var(--darkPink);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
}
.postFooter .postButtonContainer button.likeButton {
    color: var(--lightPink);
}

.postFooter .postButtonContainer i, .postFooter .postButtonContainer span {
    pointer-events: none;
}

.postFooter .postButtonContainer button:hover {
    background-color: var(--lighterPink);
    color: var(--mediumPink);
    border-radius: 50%;
}

.postButtonContainer.red button.likeButton.active {
    color: var(--darkPink);
    background-image: url("fas.fa-shrimp")
}